// General

a,
button,
.btn {
  outline: none !important;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background: url("../../utils/images/background.jpg") no-repeat center center !important;
  background-size: cover !important;
}