.box-shadow-est {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.deactive-roulette {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
}

.active-roulette {
    background: rgb(51,0,51);
    background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
}

.normal-roulette {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
}

@keyframes not-won {
    0%, 100% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
}

@keyframes game-won {
    0%, 100% {
        background: rgb(51,0,51);
    background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
}

@keyframes lvl1_transition {
    0%, 100% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    10% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    20% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    30% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    40% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    50% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    60% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    70% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    80% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    90% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
}

@keyframes lvl2_transition {
    0%, 100% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    10% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    20% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    30% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    40% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    50% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    60% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    70% {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(51,0,51,1) 65%)
    }
    80% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
    90% {
        background: rgb(51,0,51);
        background: linear-gradient(229deg, rgba(51,0,51,1) 3%, rgba(215,255,0,1) 65%);
    }
}

/* @keyframes cave-transition {
    0%, 100% {background-image: url("../../../assets/establishments/Cave.jpg");}
    10% {background-image: url("../../../assets/establishments/Forest.jpg");}
    20% {background-image: url("../../../assets/establishments/Cave.jpg");}
    30% {background-image: url("../../../assets/establishments/Forest.jpg");}
    40% {background-image: url("../../../assets/establishments/Cave.jpg");}
    50% {background-image: url("../../../assets/establishments/Forest.jpg");}
    60% {background-image: url("../../../assets/establishments/Cave.jpg");}
    70% {background-image: url("../../../assets/establishments/Forest.jpg");}
    80% {background-image: url("../../../assets/establishments/Cave.jpg");}
    90% {background-image: url("../../../assets/establishments/Forest.jpg");}
}

@keyframes farm-transition {
    0%, 100% {background-image: url("../../../assets/establishments/Farm.jpg");}
    10% {background-image: url("../../../assets/establishments/Castle.jpg");}
    20% {background-image: url("../../../assets/establishments/Farm.jpg");}
    30% {background-image: url("../../../assets/establishments/Castle.jpg");}
    40% {background-image: url("../../../assets/establishments/Farm.jpg");}
    50% {background-image: url("../../../assets/establishments/Castle.jpg");}
    60% {background-image: url("../../../assets/establishments/Farm.jpg");}
    70% {background-image: url("../../../assets/establishments/Castle.jpg");}
    80% {background-image: url("../../../assets/establishments/Farm.jpg");}
    90% {background-image: url("../../../assets/establishments/Castle.jpg");}
}

@keyframes office-transition {
    0%, 100% {background-image: url("../../../assets/establishments/Office1.jpg");}
    10% {background-image: url("../../../assets/establishments/Office2.jpg");}
    20% {background-image: url("../../../assets/establishments/Office1.jpg");}
    30% {background-image: url("../../../assets/establishments/Office2.jpg");}
    40% {background-image: url("../../../assets/establishments/Office1.jpg");}
    50% {background-image: url("../../../assets/establishments/Office2.jpg");}
    60% {background-image: url("../../../assets/establishments/Office1.jpg");}
    70% {background-image: url("../../../assets/establishments/Office2.jpg");}
    80% {background-image: url("../../../assets/establishments/Office1.jpg");}
    90% {background-image: url("../../../assets/establishments/Office2.jpg");}
}

@keyframes space-transition {
    0%, 100% {background-image: url("../../../assets/establishments/Space.jpg");}
    10% {background-image: url("../../../assets/establishments/Mars.jpg");}
    20% {background-image: url("../../../assets/establishments/Space.jpg");}
    30% {background-image: url("../../../assets/establishments/Mars.jpg");}
    40% {background-image: url("../../../assets/establishments/Space.jpg");}
    50% {background-image: url("../../../assets/establishments/Mars.jpg");}
    60% {background-image: url("../../../assets/establishments/Space.jpg");}
    70% {background-image: url("../../../assets/establishments/Mars.jpg");}
    80% {background-image: url("../../../assets/establishments/Space.jpg");}
    90% {background-image: url("../../../assets/establishments/Mars.jpg");}
} */
